@{
}

<form class="form-signin">
    <h3 class="display-6">ユーザ情報作成</h3>
    <div class="input-group mb-3">
        <span class="input-group-text">姓名</span>
        <input type="text" aria-label="姓" placeholder="姓" class="form-control">
        <input type="text" aria-label="名" placeholder="名" class="form-control">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">生年月日</span>
        <select class="form-select">
            <option selected>年</option>
            <option value="1990">1990</option>
            <option value="1991">1991</option>
            <option value="1992">1992</option>
        </select>
        <select class="form-select">
            <option selected>月</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select class="form-select">
            <option selected>日</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <select class="form-select">
            <option selected>性別</option>
            <option value="男性">男性</option>
            <option value="女性">女性</option>
            <option value="その他">その他</option>
        </select>
    </div>

    <div class="input-group mb-3">
        <input name="date" type="date" />
    </div>

</form>
