@{
}

<div class="text-center">
    <table class="table table-sticky">
        <thead>
            <tr>
                <th>名前</th>
                <th>年齢</th>
                <th>性別</th>
                <th>電話番号</th>
                <th></th>
            </tr>
        </thead>

        @foreach (TableDataModel data in ViewBag.Datas)
        {
            <tbody>
                <tr>
                    <td>@(data.Name)</td>
                    <td>@(data.Age)</td>
                    <td>@(data.Gender)</td>
                    <td>@(data.PhoneNumber)</td>
                    <td>
                        <button type="button" class="btn btn-primary">詳細</button>
                    </td>
                </tr>
            </tbody>
        }
    </table>

</div>
